## Candlestick chart and Circle graphs of stocks

In [1]:
# import sys
# install package from jupyter notebook
# !{sys.executable} -m pip install requests

In [2]:
import bokeh.plotting as bk
import pandas as pd
import numpy as np
import requests
from bokeh.models import Label, HoverTool, BoxZoomTool, PanTool, ZoomInTool, ZoomOutTool, ResetTool

API_URL = 'https://api.iextrading.com/1.0'

In [3]:
stock_name = 'MSFT'
res = requests.get(f'{API_URL}/stock/{stock_name}/chart/5y')
df = pd.DataFrame(res.json())
df["date"] = pd.to_datetime(df["date"])

In [4]:
df.head()

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,0.487714,0.000000,1.517,32.6324,2013-12-20,32.7477,"Dec 20, 13",32.0871,32.1004,62650324,62650324,32.4432
1,-0.159617,-0.004891,-0.489,32.4728,2013-12-23,32.7122,"Dec 23, 13",32.4107,32.6413,25128740,25128740,32.4989
2,0.407907,0.007609,1.256,32.8807,2013-12-24,32.9605,"Dec 24, 13",32.4905,32.5615,14242997,14242997,32.8248
3,0.319227,0.017391,0.971,33.1999,2013-12-26,33.2443,"Dec 26, 13",32.9605,32.9871,17614984,17614984,33.1763
4,-0.133008,0.013315,-0.401,33.0669,2013-12-27,33.3596,"Dec 27, 13",32.9605,33.3241,14563533,14563533,33.1304

In [5]:
seqs = np.arange(df.shape[0])
df['seqs'] = pd.Series(seqs)
df['changePercent'] = df['changePercent'].apply(lambda x: str(x)+'%')
df['mid'] = df.apply(lambda x: (x['open'] + x['close'])/2, axis = 1)
seqs

array([   0,    1,    2, ..., 1255, 1256, 1257])

In [6]:
df.sample(5)

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap,seqs,mid
348,-0.018349,0.331327,-0.042%,43.4444,2015-05-12,43.7471,"May 12, 15",42.5911,42.9856,29928264,29928264,43.2791,348,43.2150
703,0.095506,0.689894,0.173%,55.1453,2016-10-06,55.2599,"Oct 6, 16",54.7060,55.1453,16212611,16212611,55.0528,703,55.1453
623,-0.294235,0.449357,-0.618%,47.2960,2016-06-14,47.5522,"Jun 14, 16",47.0492,47.3624,42577106,42577106,47.2616,623,47.3292
1240,-0.040000,2.158517,-0.039%,103.0700,2018-11-23,103.8099,Nov 23,102.0000,102.1700,13823099,13823099,103.1477,1240,102.6200
480,-0.407079,0.519076,-0.815%,49.5711,2015-11-17,50.0952,"Nov 17, 15",49.4588,49.7583,31551255,31551255,49.7615,480,49.6647

In [7]:
df['height'] = df.apply(
    lambda x: x['close'] - x['open'] if x['close'] != x['open'] else 0.01,
    axis = 1)
df.head()

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap,seqs,mid,height
0,0.487714,0.000000,1.517%,32.6324,2013-12-20,32.7477,"Dec 20, 13",32.0871,32.1004,62650324,62650324,32.4432,0,32.36640,0.5320
1,-0.159617,-0.004891,-0.489%,32.4728,2013-12-23,32.7122,"Dec 23, 13",32.4107,32.6413,25128740,25128740,32.4989,1,32.55705,-0.1685
2,0.407907,0.007609,1.256%,32.8807,2013-12-24,32.9605,"Dec 24, 13",32.4905,32.5615,14242997,14242997,32.8248,2,32.72110,0.3192
3,0.319227,0.017391,0.971%,33.1999,2013-12-26,33.2443,"Dec 26, 13",32.9605,32.9871,17614984,17614984,33.1763,3,33.09350,0.2128
4,-0.133008,0.013315,-0.401%,33.0669,2013-12-27,33.3596,"Dec 27, 13",32.9605,33.3241,14563533,14563533,33.1304,4,33.19550,-0.2572

In [8]:
inc = df.close > df.open
dec = df.close < df.open
w = .3
dec

0       False
1        True
2       False
3       False
4        True
5       False
6       False
7        True
8        True
9        True
10      False
11       True
12       True
13      False
14       True
15      False
16      False
17      False
18       True
19       True
20       True
21       True
22       True
23       True
24      False
25      False
26      False
27      False
28       True
29       True
        ...
1228    False
1229    False
1230     True
1231     True
1232     True
1233     True
1234     True
1235    False
1236    False
1237     True
1238     True
1239     True
1240    False
1241    False
1242    False
1243    False
1244     True
1245    False
1246     True
1247     True
1248    False
1249     True
1250    False
1251     True
1252     True
1253     True
1254     True
1255     True
1256    False
1257    False
Length: 1258, dtype: bool

In [9]:
sourceInc = bk.ColumnDataSource(df.loc[inc])
sourceDec = bk.ColumnDataSource(df.loc[dec])

In [10]:
hover = HoverTool(
    tooltips=[
        ('Date', '@date'),
        ('Low', '@low'),
        ('High', '@high'),
        ('Open', '@open'),
        ('Close', '@close'),
        ('Percent', '@changePercent'),
    ]
)

In [11]:
TOOLS = [hover, BoxZoomTool(), PanTool(), ZoomInTool(), ZoomOutTool(), ResetTool()]

In [12]:
# set hight and width
p = bk.figure(plot_width = 1200, plot_height = 800, title = stock_name, toolbar_location = 'above')


p.xaxis.major_label_orientation = np.pi/4

# set gird line width
p.grid.grid_line_alpha = w
descriptor = Label(x=70, y=70, text=f"5-year stock chart of {stock_name}")
p.add_layout(descriptor)

In [13]:
p.segment(df.seqs[inc],df.high[inc], df.seqs[inc], df.low[inc], color = 'green')

p.segment(df.seqs[dec],df.high[dec], df.seqs[dec], df.low[dec], color = 'red')

GlyphRenderer(id='1054', ...)

In [14]:
p.rect(x='seqs', y='mid', width=w, height='height', fill_color='red', line_color='red', source=sourceDec)
p.rect(x='seqs', y='mid', width=w, height='height', fill_color='green', line_color='green', source=sourceInc)

GlyphRenderer(id='1066', ...)

In [15]:
# p.segment?

In [16]:
bk.show(p)

In [17]:
# p.rect?
test = pd.DataFrame(np.random.rand(10,3))
test.columns = ['one','two','three']
test

        one       two     three
0  0.551893  0.796696  0.768664
1  0.988937  0.185712  0.229480
2  0.502461  0.753137  0.112257
3  0.667220  0.471717  0.451805
4  0.082617  0.513825  0.419158
5  0.270843  0.891097  0.193733
6  0.002437  0.224470  0.335672
7  0.823125  0.304205  0.128724
8  0.461565  0.233072  0.477149
9  0.374826  0.619841  0.556514

### Figure 2. Cooperate with volume and color map
The idea here is, the value of a company doesn't sole depend on stock price.  
It will be useful to show how popular a company is by showing the volume of that company's stock at any given one day.

In [18]:
print(df.info())
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 15 columns):
change              1258 non-null float64
changeOverTime      1258 non-null float64
changePercent       1258 non-null object
close               1258 non-null float64
date                1258 non-null datetime64[ns]
high                1258 non-null float64
label               1258 non-null object
low                 1258 non-null float64
open                1258 non-null float64
unadjustedVolume    1258 non-null int64
volume              1258 non-null int64
vwap                1258 non-null float64
seqs                1258 non-null int64
mid                 1258 non-null float64
height              1258 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 147.5+ KB
None

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap,seqs,mid,height
0,0.487714,0.000000,1.517%,32.6324,2013-12-20,32.7477,"Dec 20, 13",32.0871,32.1004,62650324,62650324,32.4432,0,32.36640,0.5320
1,-0.159617,-0.004891,-0.489%,32.4728,2013-12-23,32.7122,"Dec 23, 13",32.4107,32.6413,25128740,25128740,32.4989,1,32.55705,-0.1685

In [19]:
df['date'] = pd.to_datetime(df['date'])
df['marketcap'] = df['volume'] * df['vwap']

In [20]:
df.head(2)

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap,seqs,mid,height,marketcap
0,0.487714,0.000000,1.517%,32.6324,2013-12-20,32.7477,"Dec 20, 13",32.0871,32.1004,62650324,62650324,32.4432,0,32.36640,0.5320,2.032577e+09
1,-0.159617,-0.004891,-0.489%,32.4728,2013-12-23,32.7122,"Dec 23, 13",32.4107,32.6413,25128740,25128740,32.4989,1,32.55705,-0.1685,8.166564e+08

In [21]:
from math import pi
from bokeh.plotting import figure, show, output_file

In [22]:
# try color map feature
# from bokeh.palettes import Spectral6
# from bokeh.transform import linear_cmap
from bokeh.models import ColumnDataSource, ColorBar
from bokeh.transform import transform
from bokeh.models import BasicTicker, ColorBar, ColumnDataSource, LinearColorMapper, PrintfTickFormatter
from bokeh.plotting import figure

In [23]:
new_df = df.copy()
new_df = new_df[['date','vwap']]
new_df['adjVolume'] = 5*df['volume']//df['volume'].mean()
new_df.head()

        date     vwap  adjVolume
0 2013-12-20  32.4432       10.0
1 2013-12-23  32.4989        4.0
2 2013-12-24  32.8248        2.0
3 2013-12-26  33.1763        2.0
4 2013-12-27  33.1304        2.0

In [24]:
# works
output_file('MSFT_Volumn_test.html')

source = ColumnDataSource(new_df)
colors = ["#75968f", "#a5bab7", "#c9d9d3", "#e2e2e2", "#dfccce", "#ddb7b1", "#cc7878", "#933b41", "#550b1d"]
mapper = LinearColorMapper(palette=colors, low=new_df.adjVolume.min(), high=new_df.adjVolume.max())


p = figure(plot_width=1400, plot_height=1200, title= f'5 year stock performace of {stock_name}',
           toolbar_location=None, tools="")

# p.circle(x=new_df["date"], y=new_df["vwap"], source=source, size=new_df['adjVolume'], fill_color=transform('adjVolume', mapper))
p.circle(x="date", y="vwap", source=source, size='adjVolume', fill_color=transform('adjVolume', mapper))
color_bar = ColorBar(color_mapper=mapper, location=(0, 0),
                     ticker=BasicTicker(desired_num_ticks=len(colors)),
                     formatter=PrintfTickFormatter(format="%d%%"))

p.add_layout(color_bar, 'right')

p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = "5pt"
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = 1.0

show(p)